* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 2.5rem 0 1rem;
}

ul li, ol li {
    margin-top: 0.5rem;
}

img {
    max-width: 100%;
}

pre {
    font-family: 'Roboto Mono', monospace;
    border: 1px solid lightgrey;
    overflow: auto;
}

code {
    font-family: 'Roboto Mono', monospace;
    color: orangered;
    font-weight: 500;
    display: inline-block;
    background-color: rgba(255, 68, 0, 0.1);
    padding: 0 .2rem;
}

pre code {
    padding: 1rem;
}

blockquote {
    border-left: 5px solid lightgrey;
    font-size: 120%;
    font-style: italic;
    margin: 2rem 0;
    padding: 1rem;
}

table {
    border-collapse: collapse;
    margin: .5rem 0;
    text-align: left;
    width: 100%;
}

tbody>tr {
    border-top: 1px solid lightgrey;
}

th, td {
    padding: 0.5rem;
}

hr {
    background: lightgrey;
    border: 0;
    height: 1px;
    margin: 2rem 0;
}

/* specific page design */

html {
    margin: 0;
    min-height: 100%;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: lighter;
    color: white;
    background-color: rgb(43, 41, 40);
}

header, content, footer {
    padding: 1rem;
    display: block;
}

html content {
    flex-grow: 1;
}

/* components */

section {
    display: block;
    text-align: center;
    margin: 3rem;
}

@media (max-width: 600px) {
    section {
        margin: 3rem 1.5rem;
    }
}

section h3 {
    font-weight: lighter;
    color: #FFFFFF66
}

header h1 {
    margin: 0;
    font-weight: lighter;
}

footer a {
    color: white;
    font-weight: normal;
}

.logo {
    display: inline-block;
    border: 1px solid white;
    height: 2rem;
    width: 2rem;
}

.error {
    background-color: rgba(255, 0, 0, 0.281);
    border: 1px solid red;
    margin: 2rem .8rem;
    border-radius: .5rem;
}

.error a {
    color: white;
    font-weight: normal;
}

.error p {
    margin: 1.2rem;
}

.text-center {
    text-align: center;
}

/* generic btn */

.btn.radio {
    color: #ffffff44;
}

.btn.radio.selected {
    background-color: #ffffff22;
    color: #ffffff;
}

.btn {
    padding: .7rem;
    border: 1px solid #ffffff44;
    background-color: transparent;
    color: #ffffff;
    font-family: inherit;
    font-size: inherit;
    border-radius: .2rem;
}

.btn:hover:not(:disabled) {
    background-color: #ffffff22;
    cursor: pointer;
}

.btn:active:not(:disabled) {
    background-color: #ffffff44;
}

.btn:disabled {
    color: #ffffff44;
}

/* cards */

.card {
    background-color: #ffffff11;
    border-radius: .2rem;
    display: inline-block;
    text-align: left;
}

.card .header {
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid #ffffff11;
}

.card .header .title {
    flex-grow: 1;
    padding: 1rem;
}

.card .btn.dismiss {
    border: none;
}

.card .content {
    padding: 1rem;
    border-bottom: 1px solid #ffffff11;
}

.card .footer {
    padding: 1rem;
}

/* call to action */

.btn-cta {
    border: 1px solid #d3e057;
    color: #d3e057;
    border-bottom-width: 4px;
    border-radius: 8px;
}

.btn-cta:disabled {
    color: #d3e05788;
}

.btn-cta:not(:disabled):hover {
    background-color: #d3e05744;
}

.btn-cta:not(:disabled):active {
    margin-top: 3px;
    border-bottom-width: 1px;
}

/* block list */

.block-list {
    display: inline-block;
    max-width: 100%;
}

.block-list>div {
    max-width: 100%;
    margin: .5rem;
    display: flex;
    justify-content: center;
}

.block-list>div>* {
    border-radius: 0;
    padding: .7rem 1rem;
    background-color: #ffffff11;
    color: #ffffff88;
}

.block-list>div>*, .block-list>div>.btn {
    border: none;
    border-left: 1px solid #ffffff11;
    padding: .7rem 1rem;
}

.block-list>div>*:first-child {
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem;
    margin-left: 0;
    border-left: none;
}

.block-list>div>*:last-child {
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem;
}

.block-list .player {
    flex-grow: 1;
    text-align: left;
    color: #ffffff;
}

.block-list input.player {
    background-color: #ffffff22;
    font-family: inherit;
    font-size: inherit;
    min-width: 5rem;
    font-weight: bold;
}

.block-list input.player:focus {
    background-color: #ffffff44;
}

.block-list .btn {
    color: #ffffff;
}

.block-list .btn:disabled {
    color: #ffffff44;
}

.block-list .btn:not(:disabled):hover {
    background-color: #ffffff44;
}

.block-list .btn:not(:disabled):active {
    background-color: #ffffff66;
}

.block-list .action-bar {
    margin-bottom: 1.2rem;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid #ffffff11;
}

.block-list .action-bar label {
    background-color: transparent;
    border: 1px solid #ffffff11;
}

.block-list .action-bar .btn {
    flex-grow: 1;
}

/* connection status */

.con-status.ok {
    color: #9eff81;
}

.con-status.ko {
    color: #ff8192;
}

.pending-con-status {
    border: 1px solid #ffffff11;
    background-color: #ffffff11;
    font-family: 'Roboto Mono', monospace;
    padding: .2rem;
    border-radius: .2rem;
}

/* grid size input */

.btn-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: .5rem;
}

.btn-group .btn {
    margin: .5rem;
}

/* game panel */

.game-panel {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
    justify-content: center;
}

.game-panel>* {
    margin: 2rem;
}

.game-panel .footer {
    text-align: center;
}

.game-panel .mainbar {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 500px;
}

.game-panel .mainbar>* {
    margin: 2rem;
}

#js-sandbox {
    display: block;
    width: 100%;
}

.game-panel .header {
    font-size: 1.3rem;
}

.game-panel .label {
    color: #FFFFFF88;
    font-weight: lighter;
}

.game-panel .js-data {
    font-weight: normal;
}

.game-header-grid {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 1rem;
    row-gap: .5rem;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-stats-grid {
    display: grid;
    grid-template-columns: min-content 1fr 1fr;
    column-gap: 1rem;
    row-gap: .5rem;
    font-weight: normal;
}

.game-stats-grid .col-header {
    font-size: .8rem;
    color: #FFFFFF88;
    font-weight: lighter;
}

.game-stats-grid .number {
    text-align: right;
}

.game-graph {
    display: block;
    width: 100%;
    margin-top: 2rem;
}

.graph-label {
    font-size: .8rem;
    color: #FFFFFF88;
    font-weight: lighter;
}

/* results */

.result {
    display: inline-block;
    background-color: #FFFFFF11;
    border: 1px solid #FFFFFF22;
    padding: 2rem;
    border-radius: .2rem;
}

.result h3 {
    margin-top: 0;
}

.result p {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

/* tabs */

.tab-nav {
    border-bottom: 1px solid #FFFFFF22;
    padding: 0 2rem;
    text-align: right;
}

.tab-nav>button {
    border: none;
    border-radius: .2rem .2rem 0 0;
}

/* copy */

a.copy::before {
    content: "copy";
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    z-index: 100;
    background-color: hsl(34, 36%, 18%);
    color: hsl(34, 100%, 75%);
    border: 1px solid hsl(34, 100%, 75%);
    padding: .2rem;
    margin: .5rem;
    border-radius: .2rem;
    opacity: 0;
}

a.copy:hover::before {
    opacity: 1;
}

a.copied::before {
    content: "copy";
    color: #9eff81;
    border: 1px solid #9eff81;
    background-color: #253d1d;
}

/* js manipulators */

.js-hidden {
    display: none;
}

/* formats */

.b64 {
    max-width: 64ch;
    word-break: break-all;
    font-family: 'Roboto Mono', monospace;
    background-color: #00000066;
    color: #FFFFFF88;
    padding: 1rem;
    border-radius: .2rem;
    font-size: .8rem;
}

.b64 a {
    color: #FFFFFF88;
    text-decoration: none;
}

.b64 a:hover {
    color: #FFFFFFAA;
    text-decoration: none;
}

textarea.b64 {
    background-color: #00000066;
    color: #FFFFFF88;
    border: none;
    width: 100%;
    resize: vertical;
}

textarea.b64:focus {
    background-color: #00000088;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}