* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 2.5rem 0 1rem;
}

ul li, ol li {
    margin-top: 0.5rem;
}

img {
    max-width: 100%;
}

pre {
    font-family: 'Roboto Mono', monospace;
    border: 1px solid lightgrey;
    overflow: auto;
}

code {
    font-family: 'Roboto Mono', monospace;
    color: orangered;
    font-weight: 500;
    display: inline-block;
    background-color: rgba(255, 68, 0, 0.1);
    padding: 0 .2rem;
}

pre code {
    padding: 1rem;
}

blockquote {
    border-left: 5px solid lightgrey;
    font-size: 120%;
    font-style: italic;
    margin: 2rem 0;
    padding: 1rem;
}

table {
    border-collapse: collapse;
    margin: .5rem 0;
    text-align: left;
    width: 100%;
}

tbody>tr {
    border-top: 1px solid lightgrey;
}

th, td {
    padding: 0.5rem;
}

hr {
    background: lightgrey;
    border: 0;
    height: 1px;
    margin: 2rem 0;
}

/* specific page design */

header, content, footer {
    display: block;
    font-weight: lighter;
    color: white;
}

header, footer {
    position: absolute;
}

header {
    top: 1rem;
    left: 1rem;
}

footer {
    bottom: 1rem;
    left: 1rem;
}

html, body, content {
    margin: 0;
    height: 100%;
    background-color: rgb(43, 41, 40);
}

header>h1 {
    margin: 0;
    font-weight: lighter;
}

footer a {
    color: white;
    font-weight: normal;
}

#sandbox {
    display: block;
    width: 100%;
    height: 100%;
}

.logo {
    display: inline-block;
    border: 1px solid white;
    height: 2rem;
    width: 2rem;
}

.error {
    background-color: rgba(255, 0, 0, 0.281);
    border: 1px solid red;
    padding: .8rem;
    border-radius: .5rem;
}

.error a {
    color: white;
    font-weight: normal;
}